.pieDePagina{
    background-color: whitesmoke;
    color: rgb(18, 18, 241);
    width: 100%;
    box-sizing: border-box;
    position: relative ;
    bottom: 0;
    padding: 3px 30px;
    
}
.espacio{
    height: 3rem
}

body{
    background-color: rgb(238, 244, 248);
}

.margenes{
    margin: 2em 0;
}

p{
    font-family: 'Rosario', sans-serif;
}

h3{
    font-family: 'Marcellus SC', serif;
}
h1{
    font-family: 'Bowlby One SC', cursive;
}

.tamañoTexto{
    font-size: 2rem;
}
